h3{
  margin:auto;
  font-size:24px;
}
ul{
  font-size:20px;
  text-align:left;
  font-weight:bold;
}
li{
  font-size:initial;
  font-weight:initial;
  margin:10px 0px;
}

@media screen and (max-width:767px){
  ul{
    text-align:center;
    margin:auto;
  }
  li{
    border:initial;
    margin:10px auto auto auto;
    text-align:left;
  }
}
