div{
  text-align:center;
  margin:auto;
}
table, th, td{
  border:1px solid black;
  border-collapse:collapse;
  padding:5px;
  text-align:center;
}
table{
  margin:auto;
}
th{
  background-color:silver;
}

@media screen and (max-width:767px){
  h1{
    font-size:24px;
  }
}
