button{
  display:table;
}
#actions, #status{
  text-align:center;
  display:inline-table;
  width:50%;
}
#actions button{
  margin:auto;
  text-align:center;
}
#status{
  background-color:yellow;
  vertical-align:bottom;
}
#leaderboard{
  width:100%;
  display:table;
}
