button{
  display:table;
}
#logout{
  text-align:center;
  margin:auto;
}
#actions, #news{
  height:300px;
  text-align:center;
  display:inline-table;
  width:50%;
}
#actions button{
  margin:auto;
  text-align:center;
}
#leaderboard{
  width:100%;
  display:table;
}
@media screen and (min-width:1200px){
  #actions{
    width:70%;
  }
  #news{
    width:30%;
  }
}

@media screen and (max-width:767px){
  #actions, #news{
    width:100%;
    height:initial;
    max-height:300px;
  }
  #news{
    border:1px solid black;
  }
}
